@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --greenbg: #31A05F;
}

.logoscreen1{
  background-image: url("../src/assets/logoscreen1wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.logo{
  padding-top: 160px;
}
.tap{
  padding-top: 350px;
}
.languageselectionscreen, .OnboardingPage1{
  background-color: var(--greenbg);
}
.logoscreen2{
  background-color: var(--greenbg);
  height: 100vh;
}
.logo2{
  padding-top: 100px;
}

.lang{
   font-family: "IM Fell DW Pica", serif;
}
.initialbg{
  background-color: var(--greenbg);
}
.acceptbtn{
   background-color: var(--greenbg);
   font-size: 24px;
   font-family: "Inria Sans", serif;
}

.langlabel{
 font-family: "Inter", serif;
}
.nxtbtn{
  background-color: var(--greenbg);
}
.onboardingheading{
  color: var(--greenbg);
  font-family: "Inter", serif;
  font-weight: 700;
}
